html { 

}


body {


}

.navbar {
	background-color:  #f6a01d;
	color: black;
	font-size: 100%;


}

.container-fluid {

}

.jumbotron {
		background: url(9cmupez8wlo-i-m-priscilla.jpg) no-repeat center center ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
	color: white;
	padding: 50px;
}

.jumbotron h1 {
	margin-top: 100px;
}

.jumbotron .btn {
	background-color: #934A51;
	border: solid 1px black;
}

#about {
	text-align: center;
}

#portfolio {
	text-align: center;
}

iframe {
	height: 250px;
	width: 350px;
	scroll: no;
}
